<%= form_with model: @plan do |form| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% @plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <hr/>

  <div id="exerciseFormContainer"></div>

 
  <button type="button" class="btn btn-success w-100 my-3" id="addExerciseButton">Add Exercise</button>


  <div class="actions">
    <%= form.submit "Finished", class: "main-button" %>
  </div>
<% end %>